* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #FFFFFF;
	margin: 0;
}
.navtop {
  	background-color: #376ab7;
  	height: 80px;
  	width: 100%;
  	border: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.navtop div {
  	display: flex;
  	margin: 0 auto;
  	width: 1000px;
  	height: 100%;
}
.navtop div h1, .navtop div a {
  	display: inline-flex;
  	align-items: center;
}

.navtop div h1 {
  	flex: 1;
  	font-size: 24px;
  	padding: 0;
  	margin: 0;
  	color: #ecf0f6;
  	font-weight: normal;
}
.navtop div a {
  	padding: 0 15px;
  	text-decoration: none;
  	color: #c5d2e5;
  	font-weight: bold;
}
.navtop div a i {
  	padding: 2px;
}
.navtop div a:hover {
  	color: #ecf0f6;
}
.content {
  	width: 75%;
  	margin: 0 auto;
}
.content-landingPage {
	width: 100%;
	margin: 0 auto;
}
.content h4 {
  	margin-top: -55px;
  	padding: 25px 0;
  	font-size: 28px;
  	border-bottom: 1px solid #ebebeb;
  	color: #FFFFFF;
}

.read .create-contact {
  	display: inline-block;
  	text-decoration: none;
  	background-color: #38b673;
  	font-weight: bold;
  	font-size: 14px;
  	color: #FFFFFF;
  	padding: 10px 15px;
  	margin: 15px 0;
}
.read .create-contact:hover {
  	background-color: #32a367;
}
.read .pagination {
  	display: flex;
  	justify-content: flex-end;
}
.read .pagination a {
  	display: inline-block;
  	text-decoration: none;
  	background-color: #a5a7a9;
  	font-weight: bold;
  	color: #FFFFFF;
  	padding: 5px 10px;
  	margin: 15px 0 15px 5px;
}
.read .pagination a:hover {
  	background-color: #999b9d;
}
.read table {
  	width: 100%;
  	padding-top: 30px;
  	border-collapse: collapse;
}

.read table thead {
  	background-color: #ebeef1;
  	border-bottom: 1px solid #d3dae0;
}
.read table thead td {
  	padding: 10px;
  	font-weight: bold;
  	color: #767779;
  	font-size: 14px;
}
.read table tbody tr {
  	border-bottom: 1px solid #d3dae0;
}
.read table tbody tr:nth-child(even) {
  	background-color: #fbfcfc;
}
.read table tbody tr:hover {
  	background-color: #376ab7;
}
.read table tbody tr:hover td {
  	color: #FFFFFF;
}
.read table tbody tr:hover td:nth-child(1) {
  	color: #FFFFFF;
}
.read table tbody tr td {
  	padding: 10px;
}
.read table tbody tr td:nth-child(1) {
  	color: #a5a7a9;
}

.read table tbody tr td.actions {
  	padding: 8px;
  	text-align: right;
}
.read table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
  	display: inline-flex;
  	text-align: right;
  	text-decoration: none;
  	color: #FFFFFF;
  	padding: 10px 12px;
}
#moreinfo {
	display: inline-block;
  	text-decoration: none;
  	background-color: #9a9a9a;
  	font-weight: bold;
  	font-size: 14px;
  	color: #FFFFFF;
  	padding: 5px 15px;
  	margin: 15px 0;
}
#moreinfo:hover {
  	background-color: #5b5b5b;
}

.read table tbody tr td.actions .trash {
  	background-color: #b73737;
}
.read table tbody tr td.actions .trash:hover {
  	background-color: #a33131;
}
.read table tbody tr td.actions .edit {
  	background-color: #37afb7;
}
.read table tbody tr td.actions .edit:hover {
  	background-color: #319ca3;
}
.read table tbody tr td.actions .moreinfo {
	background-color: #97f8ff;
}
.read table tbody tr td.actions .moreinfo:hover {
	background-color: #6ddde5;
}
select {
	padding: 10px;
	width: 400px;
	margin-right: 25px;
	margin-bottom: 15px;
	border: 1px solid #cccccc;
}
.update form {
  	padding: 15px 0;
  	display: flex;
  	flex-flow: wrap;
}
.update form label {
  	display: inline-flex;
  	width: 400px;
  	padding: 10px 0;
  	margin-right: 25px;
}

.update form input {
  	padding: 10px;
  	width: 400px;
  	margin-right: 25px;
  	margin-bottom: 15px;
  	border: 1px solid #cccccc;
}
.update form input[type="submit"] {
  	display: block;
  	background-color: #38b673;
  	border: 0;
  	font-weight: bold;
  	font-size: 14px;
  	color: #FFFFFF;
  	cursor: pointer;
  	width: 400px;
	margin-top: 15px;
}
.back-button {
	padding: 10px;
	text-align: center;
	text-decoration: none;
    display: block;
    background-color: #e53f3f;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 150px;
    margin-top: 15px;
}
.back-button:hover {
    background-color: #972d2d;
}
.update-button-container {
    clear: both;
    margin-top: 15px;
}
.delete .yesno {
  	display: flex;
}
.delete .yesno a {
  	display: inline-block;
  	text-decoration: none;
  	background-color: #38b673;
  	font-weight: bold;
  	color: #FFFFFF;
  	padding: 10px 15px;
  	margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
  	background-color: #32a367;
}

.container_content_home {
  position: relative;
  width: 100%;
  height: 669px;
	background-color: #999b9d;
	
}

#content_one_home {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay_content_home {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 22px;
  text-align: center;
  padding: 50px;
}
.container_content_three_home {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

#div_content_three_home {
  text-align: center;
  font-size: 36px;
  margin-top: 25px;
  letter-spacing: 4px;
  width: 100%;
}

.content_three_home {
  width: 100%;
  height: 100%;
  font-size: 16px;
  letter-spacing: 1px;
}

#span_content_three_home {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px; 
}
.buttons_home {
	width: 150px;
	height: 50px;
	margin-top: 25px;
	border-radius: 10px;
	background-color: #376ab7;
	color: #FFFFFF;
	
}

.buttons_home:hover {
	background-color: #578cdb;
	
}

.homepage {
	font-size: 40px;
}